.center-container {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    text-align: center;
}

.progress-bar {
    width: 80%;
    margin: 0 auto;
    word-break: break-all;
}

.progress-bar-desc {
    width: 90%;
    display: inline-block;
    font-size: small; 
}

.spacer {
    margin-top: 10px;
}

.logo {
    margin: 20px 0px 20px 0px;
}